/* Mobile verion start here */
@media (max-width: 768px) {
  * {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }

  .top-nav {
    display: none;
  }

  button {
    background: #36b37f;
  }

  button:hover {
    background: #37b37e;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  button:active {
    background: #008552;
  }

  nav img {
    width: 18px;
    height: 12px;
  }

  nav a {
    color: #172b4d;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
  }

  .mob-nav-container {
    height: 100vh;
    width: 100%;
    display: none;
    margin-top: 10%;
  }

  .mob-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    margin-left: 20px;
  }

  .mob-nav a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #3a4a42;
  }

  .mob-navbar {
    margin: 5px 15px;
    height: 48px;
    width: 328px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #option2 {
    display: none;
    margin-right: 15px;
  }

  .title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../image/background-mobile.png');
    background-repeat: no-repeat;
    width: 375px;
    margin: auto;
  }

  .landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
  }

  .landing-text h1 {
    color: #172b4d;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin: 0%;
  }

  .landing-text h2 {
    color: #36b27f;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin: 0%;
  }

  .landing-text p {
    color: #172b4d;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 30px 20px 60px 20px;
  }

  .social-media-icons {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 19px;
  }

  .scroll-icon {
    margin-top: 45px;
  }

  .recent-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    margin: auto;
  }

  .recent-works-title h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    font-style: normal;
    margin: 5%;
  }

  .recent-works-title img {
    height: 4px;
    width: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .recent-works-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
    padding: 62px 24px 0 26px;
  }

  .grid-container > div {
    background-color: #eaf1ee;
    text-align: center;
  }

  .work-button {
    background-color: #36b37e;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border-radius: 8px;
  }

  .my-works-text {
    height: 222px;
    background-color: white;
    border-radius: 8px 8px 0 0;
  }

  .my-work-card {
    border: 1px solid #ebf0ee;
    border-radius: 8px;
  }

  .card-image {
    height: 252px;
  }

  .built-with {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 8px;
    margin: 15px;
  }

  .built-with li {
    background-color: #eaf1ee;
    padding: 6px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 59px;
    background-image: url('../image/vector-back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -37px;
  }

  .about-me-section {
    width: 375px;
    margin: auto;
  }

  .about-me h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .about-me p {
    margin: 24px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #42526e;
  }

  .about-me-button {
    background-color: #36b37e;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border-radius: 8px;
  }

  .grid-container2 {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
    padding: 62px 24px 0 24px;
  }

  .grid-container2 > div {
    background-color: #eaf1ee;
    text-align: center;
    width: 327px;
  }

  .my-works-text2 {
    height: 200px;
    border-radius: 8px 8px 0 0;
  }

  .my-work-card2 {
    border: 1px solid #ebf0ee;
    border-radius: 8px;
  }

  .card-image2 {
    height: 180px;
    display: flex;
    justify-content: center;
  }

  .built-with2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
    margin-top: 24px;
  }

  .built-with2 li {
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #36b27f;
  }

  .chat-text h2 {
    margin: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .input-field {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 58px 24px 10px 20px;
  }

  .text-input {
    padding: 15px;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  #text-area {
    border: 1px solid #60c095;
    border-radius: 4px;
    padding: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
    height: 114px;
  }

  .get-in-touch-button {
    background-color: #36b37e;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border-radius: 4px;
  }

  .button-wrapp {
    display: flex;
    justify-content: center;
  }

  .footer-social-media-icon {
    margin: 46px 0 19px 0;
  }

  footer {
    width: 375px;
    background-image: url('../image/bottom-vector.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-position-y: 280px;
    margin: auto;
  }

  .email {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    padding-bottom: 20px;
  }

  /* modal styling */
  .modal {
    display: flex;
    justify-content: center;
  }

  .close.btn2 {
    width: 311px;
  }

  .close-btn1 {
    display: none;
  }

  .modal-content {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 24px 24px;
    border-radius: 8px;
    width: 313px;
  }

  .modal-section {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #c1c7d0;
    display: none;
  }

  .modal-section::-webkit-scrollbar {
    width: 10px;
  }

  #close-btn {
    margin: 10px 0;
  }

  #snapshot {
    display: none;
  }

  .modal-btns {
    display: none;
  }

  .mob-modal-btns a {
    text-decoration: none;
  }

  #gitimg {
    height: 20px;
    width: 17px;
    margin-left: 4px;
  }

  #liveimg {
    height: 16px;
    width: 16px;
    margin-left: 4px;
  }

  .see-project-mbutton1 {
    background-color: #36b37f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .see-project-mbutton1:hover {
    box-shadow: 0 4px 8px 0 #36b37f69;
  }

  .see-project-mbutton1:active {
    background-color: #008552;
  }

  .see-project-mbutton2 {
    background-color: #36b37f;
    margin-left: 12px;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 23px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .see-project-mbutton2:hover {
    box-shadow: 0 4px 8px 0 #36b37f69;
  }

  .btn-modal {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .btn-modal p {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .skill-list {
    margin-top: 2%;
    display: flex;
    gap: 3%;
    list-style: none;
    padding-left: 0;
  }

  .skill-list li {
    background-color: #ebecf0;
    border-radius: 4px;
    padding: 10px 11px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
  }

  .modal-head {
    margin-top: 24px;
  }

  .modal-head h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    width: 259px;
  }

  .modal-text {
    padding-top: 36px;
  }

  .modal-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  #mob-list {
    display: none;
  }

  .mob-modal-btns {
    margin-top: 16px;
  }
}
